@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 400px;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    border: 5px solid rgb(0, 255, 0);
    /* Đường viền 2px màu trắng trong suốt */
    padding: 20px;
    background-size: initial;
    background-position: center;
    z-index: 1;
}


.popup-content {
    width: 100%;
    height: 80%;
    text-align: left;
    color: black;
    font-size: 30px;
}

#popup button {
    position: absolute;
    height: 40px;
    margin-top: 20px;
    width: 100px;
    background-color: #00fc37;
    left: 50%;
    transform: translate(-50%, 0%);
}


.support {
    display: grid;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 3;
}

.support button {
    background-color: transparent;
    /* Tắt màu nền của button */
    border: 0;
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
    margin: 20px;
}

.support button:hover,
#popup button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#rule {
    background-image: url(../img/rule.png);
}

#replay {
    background-image: url(../img/replay.png);
}

#sound {
    background-image: url(../img/volume.png);
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1617px;
    height: 880px;
    transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


.waviy {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.waviy span {
    font-family: fantasy;
    position: relative;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

    0%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20px)
    }
}

.square {
    height: 145px;
    width: 145px;
    margin: auto;
    background-size: cover;
    /* Đảm bảo hình ảnh kích thước đầy đủ trong phần tử */
    background-position: center;
    /* Căn giữa hình ảnh */
    display: ruby;
    text-align: center;
}


.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.player-image {
    width: 100%;
    /* Đặt kích thước cho hình ảnh */
    height: 100%;
    /* Đặt kích thước cho hình ảnh */
    background-size: cover;
    /* Đảm bảo hình ảnh đầy đủ kích thước trong phần tử */
    margin-bottom: 5px;
    /* Đặt khoảng cách giữa hình ảnh và tên người chơi */
}

#frame {
    position: absolute;
    height: 400px;
    width: 1000px;
    background-color: #283f57;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
}

/* #playButton {
    position: absolute;
    font-size: 30px;
    top: 110%;
    left: 50%;
    padding: 10px 20px;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
} */

#frame .NV {
    height: 400px;
    width: 250px;
}

.detailNV {
    height: 300px;
    width: 200px;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
    /* Độ sáng ban đầu của hình ảnh */
    transition: filter 0.3s ease;
    /* Thêm hiệu ứng chuyển đổi cho filter */
}

.detailNV:hover {
    background-color: rgba(187, 187, 187, 0.76);
    /* Điều chỉnh màu nền sáng hơn */
    filter: brightness(100%);
    /* Làm sáng hình ảnh khi hover */
}

.detailNV.brighten {
    filter: brightness(100%);
    /* Làm sáng hình ảnh khi có text nhập vào */
    background-color: #4CAF50;
    /* Đổi màu nền khi có text nhập vào */
}


#choose {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 60px;
}

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 29.5px 37.5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 10%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.alert {
    display: none;
    /* Mặc định ẩn đi*/
    position: absolute;
    left: 50%;
    transform: translate(-50%, 9%);
    padding: 20px;
    color: white;
    opacity: 1;
    margin-bottom: 15px;
    z-index: 10;
}

#rolldice {
    display: flex;
}

.img1,
.img2 {
    width: 112px;
    /* Đảm bảo rằng hình ảnh sẽ lấp đầy toàn bộ kích thước của div */
    height: 112px;
    /* Đảm bảo rằng hình ảnh sẽ lấp đầy toàn bộ kích thước của div */
    src: url('../img/dice6.png');
}

.btn {
    background: #4ecca3;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    color: #ffff;
    font-size: 30px;
    padding: 16px 25px 16px 25px;
    text-decoration: none;
}

.btn:hover {
    background: #232931;
    text-decoration: none;
    opacity: 0.8;
    cursor: pointer;
}

h1 {
    margin: 10px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #4ecca3;
    text-align: center;
}

.totaldice {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#rolldice {
    justify-content: center;
    margin-bottom: 10px;
}



.wrapper {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--light-color);
    padding: 1.5rem 4rem 3rem 4rem;
    width: 600px;
    border-radius: 1.5rem;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
    box-sizing: border-box;
}

.quiz-title {
    text-align: center;
    font-size: 2rem;
}

.quiz-question {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.quiz-options {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
}

.quiz-options li {
    border-radius: 0.5rem;
    font-weight: 600;
    margin: .7rem 0;
    padding: .4rem 1.2rem;
    cursor: pointer;
    border: 3px solid var(--light-purple-color);
    background-color: var(--light-purple-color);
    color: var(--light-color);
    box-shadow: 0 4px 0 0 #6c4298;
    transition: var(--transition);
}

.quiz-options li:hover {
    background-color: var(--grey-color);
    color: var(--dark-color);
    border-color: var(--grey-color);
    box-shadow: 0 4px 0 0 #bbbbbb;
}

.quiz-options li:active {
    transform: scale(0.97);
}

/* js related */
.selected {
    background-color: var(--grey-color) !important;
    color: var(--dark-color) !important;
    border-color: var(--grey-color) !important;
    box-shadow: 0 4px 0 0 #bbbbbb !important;
}

.quiz-foot button {
    border: none;
    border-radius: 0.5rem;
    outline: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .5rem 1rem;
    margin: 0 auto 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    background-color: var(--grey-color);
    color: var(--dark-color);
    letter-spacing: 2px;
    transition: var(--transition);
    box-shadow: 0 4px 0 0 #bbbbbb;
}

.quiz-foot button:hover {
    background-color: #e6e6e6;
    box-shadow: 0 4px 0 0 #a7a7a7;
}

.quiz-foot button:active {
    transform: scale(0.95);
}

#play-again {
    display: none;
}

#result {
    padding: .7rem 0;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}

#result i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    margin-right: .5rem;
    margin-bottom: .5rem;
    background-color: var(--light-purple-color);
    color: var(--light-color);
}

:root {
    --light-purple-color: #8854C0;
    --light-color: #fff;
    --dark-color: #000;
    --grey-color: #f2f2f2;
    --transition: all 300ms ease-in-out;
}

@media(max-width: 678px) {
    .quiz-title {
        font-size: 1.6rem;
    }

    .wrapper {
        margin: 3rem 0;
        width: 90%;
        height: 90%;
        padding: 1.5rem 1rem 3rem 1rem;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .quiz-foot button {
        font-size: 1rem;
    }
}

.winner {
    display: none;
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    box-sizing: border-box;
}

#winner-message {
    display: none;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    text-shadow:
        8px 8px #ff1f8f,
        20px 20px #000000;
}


.winner img {
    width: 170px;
    position: absolute;
    right: 0%;
}